
.create-employee-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.create-employee-form label {
    display: block;
    margin-bottom: 8px;
}

.create-employee-form input[type="text"],
.create-employee-form input[type="email"],
.create-employee-form input[type="number"],
.create-employee-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-employee-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

    .create-employee-form button:hover {
        background-color: #0056b3;
    }

.selectDep {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
